.page-container {
    display: flex;
}

#text-container {
    margin-right: 5%;
    padding-right: 10%;
    margin-left: 0;
    max-width: 50%;
}

#image-container {
    margin-right: 0;
}

h1 {
    margin-top: 0.1em;
    text-align: left;
    border-bottom: 3px solid white;
    padding-bottom: 0.2em;
}

.header-title {
    margin-top: 0;
    margin-bottom: 1.5em;
}

p {
    text-align: left;
}

#back-to-home {
    transition: border-color 0.3s ease;
    /* Smooth transition effect */
}

/* CSS styles when hovering over the element */
#back-to-home:hover {
    border-color: white;
    /* Border color on hover */
}

@media (max-width: 1919px) {
    #text-container {
        margin-right: 3%;
        padding-right: 0%;
    }
}